    @font-face {
      font-family: "Gentium Basic Regular";
      src: url("../font/GenBasR.ttf");
}

h1, h2, h3{
	font-family: "Gentium Basic Regular", serif;
	}

.header {
	background-color: #cccccc;
}

.header h5 {
	font-size: 1.0rem;
}

/* Medium */
@media only screen and (min-width: 40.063em) {

	.header h2 {
		font-size: 2.3125rem;
	}

	.header .title {
		top: 20px;
	}
	
	.header .contact h5 {
	text-align: right;
	font-size: 1.125rem;
	}

}


/* Large */
@media only screen and (min-width: 64.063em) {

	.header h2 {
		font-size: 3rem;
	}

	.header .title {
		top: 24px;
	}
}





.photo {
	background-color: rgb(215, 213, 207);
}

.photo h1 {
	margin: 50px 0 0 20px;
	font-size: 4.5rem;
}

.photo .columns {
	padding-right: 0px;
}

.photo img {
	float: right;
}

.area {
	background-color: #aaaaaa;
	padding-top: 20px;
}

.about {
	background-color: #cccccc;
}

#map_canvas {

	height: 300px;

}.map .columns {
	padding: 0px;
}

.contact {

}

.contact h3 {

}

.contact .secondary {
	padding-top: 40px;
}

.footer {
	background-color: #666666;
	padding: 5px 0 5px 0;
	
}

.footer h6 {
	color: #efefef;
	font-size: 0.9em;
}

img {
	max-width: 100%;
}