    @font-face {
      font-family: "Gentium Basic Regular";
      src: url("../font/GenBasR.ttf");
}

h1, h2, h3{
	font-family: "Gentium Basic Regular", serif;
	}

.header {
	background-color: #cccccc;
}

.header .title {
	top: 27px;
}

.header h2 {
	
	font-size: 3rem;
}

.header .contact {
	/* float: right; */
}

.header .contact h4 {
	text-align: right;
}

.photo {
	background-color: rgb(215, 213, 207);
}

.photo h1 {
	margin: 50px 0 0 20px;
	font-size: 4.5rem;
}

.photo .columns {
	padding-right: 0px;
}

.photo img {
	float: right;
}

.area {
	background-color: #aaaaaa;
	padding-top: 20px;
}

.about {
	background-color: #cccccc;
}

#map_canvas {

	height: 300px;

}.map .columns {
	padding: 0px;
}

.contact {

}

.contact h3 {

}

.contact .secondary {
	padding-top: 40px;
}

.footer {
	background-color: #666666;
	padding: 5px 0 5px 0;
	height: 30px;
}

.footer h6 {
	color: #efefef;
	font-size: 0.7em;
}

img {
	max-width: 100%;
}